
footer{
    width: 100%;
    min-height:100vh;
    background: var(--white);
    padding: 5% 10%;
    color: var(--gray800);
    border-top: 4px solid var(--gray100);
    padding-top: calc(100px + 5%) !important;
}
.footer_ul_con{
    gap: 2rem;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
footer h3{
    color: var(--gray800);
    margin-bottom: 1rem;
}
footer ul{
    list-style: none
}
.footer_link{
    margin-top: 10px;
    color: var(--gray4);
    cursor: pointer;
}
.footer_hr{
    border-top: 2px dashed var(--blue100);
    width: 100%;
}
footer .logo-wrapper{
color: var(--gray800)
}
footer .logo-text{
color: var(--gray800)
}